<p>Thanks for buying!</p>

<a href="https://s3.amazonaws.com/wmb-one-month-stripe-payments/Scan+Apr+22%2C+2015%2C+9_27+AM.pdf"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>